ol.option_values {
    padding-left: 150px;
}

#item_photos {
    float: right;
    width: 200px;
    height: 300px;
    margin-left: 10px;
}

#customer_info dl dd{
    padding-left: 20px;
    padding-right: 20px;
}

#customer_info dl dt {
    font-weight: bolder;
}